/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  /* background: #2c43f9; */
  padding: 2rem;
  border-radius: 8px;
  border: 3px solid #777eb6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.App:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 2.5rem;
  color: #2c43f9;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease-in-out;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease-in-out;
}

button {
  background-color: #2c43f9;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
/* 
button:hover {
  background-color: #feb47b;
} */

/* Animations */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
